<app-navbar></app-navbar>


<div class="container mt-5">
    <h1>Home page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, facere? Quas neque optio voluptatem quisquam, vero repellat fuga quo quaerat? Modi dolorum excepturi impedit amet ad sapiente minima assumenda tempora?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, facere? Quas neque optio voluptatem quisquam, vero repellat fuga quo quaerat? Modi dolorum excepturi impedit amet ad sapiente minima assumenda tempora?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, facere? Quas neque optio voluptatem quisquam, vero repellat fuga quo quaerat? Modi dolorum excepturi impedit amet ad sapiente minima assumenda tempora?
    </p>
    
</div>